<!-- allow user to edit individual profile -->
{{#loggedUser}}
<form class="" action="/edit/{{id}}" method="post">
  <input type="text" name="avatar" value="" placeholder="Avatar">
  <br>
  <input type="text" name="email" value="" placeholder="Email">
  <input type="text" name="university" value="" placeholder="University">
  <br>
  <input type="text" name="job" value="" placeholder="Job">
  <input type="text" name="company" value="" placeholder="Company">
  <input type="text" name="skills" value="" placeholder="Skills">
  <br>
  <input type="text" name="street_num" value="" placeholder="Street Num">
  <input type="text" name="street_name" value="" placeholder="Street Name">
  <input type="text" name="city" value="" placeholder="City">
  <input type="text" name="state_or_province" value="" placeholder="State or Providence">
  <input type="text" name="postal_code" value="" placeholder="Postal Code">
  <input type="text" name="country" value="" placeholder="Country">
  <br>
  <button type="submit" name="button">Submit</button>
</form>
{{/loggedUser}}
