<form class="" action="/" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="text" name="password" value="" placeholder="Password">
  <button type="submit" name="button">Login</button>
</form>

<a href="/signup">Sign Me Up!</a>
