
<h4>Fill in your Information</h4>
<form class="" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="text" name="password" value="" placeholder="Password">
  <br>
  <input type="text" name="name" value="" placeholder="Full Name">
  <input type="email" name="email" value="" placeholder="Email">
  <input type="text" name="university" value="" placeholder="University">
  <input type="text" name="job" value="" placeholder="Job">
  <input type="text" name="company" value="" placeholder="Company">
  <input type="text" name="skill" value="" placeholder="Skills">
  <input type="number" name="phone" value="" placeholder="Phone">
  <h4>Address</h4>
  <input type="text" name="street_num" value="" placeholder="Street Number">
  <input type="text" name="street_name" value="" placeholder="Street Name">
  <input type="text" name="city" value="" placeholder="City">
  <input type="text" name="state_or_province" value="" placeholder="State/Provide">
  <input type="number" name="postal_code" value="" placeholder="Postal Code">
  <input type="text" name="country" value="" placeholder="Country">
  <button type="submit" name="button">Sign Me Up</button>
</form>
