{{#users}}
  <a href="/profile/{{id}}">
    <div class="container">
      <div class="boxes">

        <img src="{{avatar}}">

        <h3>{{name}}</h3>

          {{#job}}
          <p>{{job}}, {{company}}</p>
          {{/job}}
          {{^job}}
          <p class="forHire">Available for hire</p>
          {{/job}}

      </div>
    </div>
    </a>
{{/users}}
